
<div class="breadcrumb">
  <%= link_to 'Top', "/tree" %> /

  <%= @parent_subjects.collect {|s| link_to(s.label, "/tree/#{s.tree_number.gsub('.', '/')}") + ' /' }.join(' ').html_safe %>
  <h1><%= @subject.label %></h1>
  <span class="identifier">(<%= link_to @subject.identifier, subject_path(@subject.identifier) %>)</span>
</div>

<% if @subject.all_labels.length > 1 %>
  <p>Also known as: <%= (@subject.all_labels - [@subject.label]).collect {|s| content_tag('b', s)}.join(', ').html_safe %>.</p>
<% end %>

<%= render 'shared/related_subjects', related_subjects: @subject.related_subjects %>


<p class="description">
  <%= @subject.description %>
</p>

<% if @child_subjects.length > 0 %>
  <h2>Sub-subjects</h2>
  <%= render 'tree', subjects: @child_subjects %>
<% end %>

<%#= render 'shared/records', records: @records %>