
<div class="breadcrumb">
  <%= link_to 'Top', "/tree" %> /

  <%= @parent_subjects.collect {|s| link_to(s.label, "/tree/#{s.tree_number.gsub('.', '/')}") + ' /' }.join(' ').html_safe %>
  <h1><%= @subject.label %></h1>
</div>

<% if @subject.all_labels.length > 1 %>
  <p>Also known as: <%= (@subject.all_labels - [@subject.label]).collect {|s| content_tag('b', s)}.join(', ').html_safe %>.</p>
<% end %>

<p class="description">
  <%= @subject.description %>
</p>

<% if @child_subjects.length > 0 %>
  <h2>Sub-subjects</h2>
  <%= render 'tree', subjects: @child_subjects %>
<% end %>

<% if @records.length > 0 %>

  <% if @records.length == 50 %>
   <h2>50+ Wellcome Library records</h2>
  <% else %>
    <h2><%= pluralize(@records.length, 'Wellcome Library record') %></h2>
  <% end %>

  <ul>
    <% @records.each do |record| %>
      <li><%= link_to record.title, record %></li>
    <% end %>
  </ul>
<% else %>
  <p>There’s nothing in the Wellcome Library collectiona about this (yet).</p>
<% end %>